* {
   padding: 0;
   margin: 0;
   font-family: "Ubuntu", sans-serif;

}

.header {
   border-bottom: 1px solid white;
   display: flex;
   /* align-items: center; */
   justify-content: space-between;
}

.title-name {
   font-size: 120px;
   font-family: "Oswald", serif;
   font-weight: 800;
   line-height: 7rem;
}

.navbar {
   display: flex;
   gap: 25px;
   margin: 25px;
}

.nav-element {
   height: max-content;
   color: white;
   background: #3E3E3E;
   padding: 7.5px 15px;
   border-radius: 25px;
}
